@model IEnumerable<StoreFront3.DATA.EF.Product>

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockStatus.StockStatus1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.ProductImage)*@
            <img src="~/Content/images/t_@item.ProductImage" alt="Product image" title="@item.ProductName" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StockStatus.StockStatus1)
        </td>
        <td>
            <a href="@Url.Action("Edit", new { id = item.ProductID })">
                <i class="fa fa-outdent" aria-hidden="true" title="Edit" style="color: green"></i>
            </a>
            <a href="@Url.Action("Details", new { id=item.ProductID })">
                <i class="fa fa-info-circle" aria-hidden="true" title="Details"></i>
            </a>
            <a href="@Url.Action("Delete", new { id=item.ProductID })">
                <i class="fa fa-trash" aria-hidden="true" title="Delete" style="color: red"></i>
            </a>
        </td>
    </tr>
}

</table>
